src/**
.vscode/**
.vscode-test/**
.github/**
.husky/**
**/tsconfig.json
**/vitest.config.ts
**/.eslintrc.js
**/prettier.config.js
**/*.ts
**/*.map
.gitignore
.prettierrc
.eslintignore
**/node_modules/**
**/*.test.ts
**/*.spec.ts
coverage/
**/*.log
.DS_Store
pnpm-lock.yaml
npm-debug.log*
yarn-debug.log*
yarn-error.log*